workflows/customer-form/myworkflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Input details",
        "formDescription": "We are taking user's info and saving it into the google sheet",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Name ",
              "requiredField": true
            },
            {
              "fieldLabel": "Age",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "positive"
                  },
                  {
                    "option": "negative"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -400,
        -32
      ],
      "id": "0561ba4f-3215-4252-b809-1f6568507915",
      "name": "On form submission",
      "webhookId": "1b87ba7f-c970-439c-aa05-d13bda59152f"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "163uAusXNBw8anwlYSgt6-lpMloILtwmLEKlw1PhULTQ",
          "mode": "list",
          "cachedResultName": "n8n-test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/163uAusXNBw8anwlYSgt6-lpMloILtwmLEKlw1PhULTQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/163uAusXNBw8anwlYSgt6-lpMloILtwmLEKlw1PhULTQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Name": "={{ $json['Name '] }}",
            "Age": "={{ $json.Age }}",
            "Phone number": "={{ $json['Phone Number'] }}",
            "Feedback": "={{ $json.Feedback }}",
            "Give discount": "={{ $json.Give_discount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Give discount",
              "displayName": "Give discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        -32
      ],
      "id": "a375a9d5-7b77-4fb4-a91d-0b3cdeb1d30a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PrFpVDBBZanPx5rb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "575a5eba-d4e7-46a3-bceb-bba9a8b2c7c0",
              "leftValue": "={{ $json.Feedback }}",
              "rightValue": "positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -32
      ],
      "id": "54ac44a7-3ecf-41b0-a801-3755d1d614e6",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "752f7198-581c-4503-b169-53daad220225",
              "name": "Give_discount",
              "value": "Yes",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -128
      ],
      "id": "458bf8ff-eccb-42aa-bb73-b91a2c67e51e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "752f7198-581c-4503-b169-53daad220225",
              "name": "Give_discount",
              "value": "No",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        64
      ],
      "id": "91f88547-337c-42a9-93cd-4ae51fdb272c",
      "name": "Discount_No"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discount_No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discount_No": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "88db1622-dd93-4c6b-8112-23a70a52a0f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa08526b503cd36cc55da466f7e56f25872a36e73a06e3a1eb5491dde38c4722"
  },
  "id": "n1tmSwhkwvPBMlfO",
  "tags": []
}